<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

 </head>
<body>
     
    <div className="bg-red-400 min-h-screen">
        <form action="">
            <input type="text" placeholder="Write input here" className="bg-red-400">
            <textarea name="" id="" placeholder="write something here"></textarea>
            <input type="text" placeholder="Write input here">
        </form>
    </div>
</body>
</html>